<div class="element">
    <div class="header">Recently created designs</div>
    <g:render template="../studieDesign/table/designTable" model="[studieDesignInstanceList:studieDesignInstanceList,disablePagenate:true]"/>
</div>
