
<g:setProvider library="jquery"/>

<div class="message">

    congratulations the combination of your studies was succesful and your new study id is ${study.id}. Please press this
    <g:link controller="studie" action="show" id="${study.id}">this link</g:link> to continue to your study

</div>
