<div class="description">
  these are all your defined studies
</div>
<div class="element">
  <div id="studies">

  </div>
</div>

<!-- populates studies during load -->
<g:javascript>
  jQuery.ajax({type:'POST', url:"${g.createLink(controller: 'home', action: 'showMyStudies')}",success:function(data,textStatus){jQuery('#studies').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){}});
</g:javascript>