<li>view all studies</li>
<li>view all studie design</li>
<li>schedule any studie</li>
<li>import setupX data</li>
<li>import binbase data</li>
<li>reindex the database</li>
<li>manage instruments</li>
