<div class="left_information_box">
  the role manager gives you access to the system including the possibility to

  <div class="element">

    <ol>
      <g:render template="userRights"/>
      <g:render template="managerRights"/>
    </ol>
  </div>
</div>