
<g:setProvider library="jquery"/>

<div class="message">

    congratulations the combination of your organs was succesful and your new id is ${value.id}. Please press
    <g:link controller="organ" action="show" id="${value.id}">this link</g:link> to continue to your organ

</div>
