<g:setProvider library="jquery"/>


<div>

  congratulations the import was successful and is done. But it can be that the system is going to take a while till the new studie are available in
  the search index. If you like to force to reindex the database please click<g:link controller="searchableIndex" action="reindex">here</g:link>
</div>