<%--
  Created by IntelliJ IDEA.
  User: wohlgemuth
  Date: Dec 9, 2010
  Time: 3:52:08 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
  <head><title>Simple GSP page</title></head>
  <body>Place your content here</body>
</html>