
<g:setProvider library="jquery"/>

<div class="message">

    congratulations the combination of your species was succesful and your new id is ${value.id}. Please press this
    <g:link controller="species" action="show" id="${value.id}">this link</g:link> to continue to your species

</div>
