/**
 * has the scheduling elements in it
 */
.schedulingBox {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

#sampleValidationProgress {
    height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**
 * file was found
 */
.file_true {
    background: #fff3f3;
    color: #00cc33;

}

/**
* file was not found
*/
.file_false {
    background: #fff3f3;
    color: #ff9999;

}

/**
 * is a breaker and kills the export
 */
.breaker_true {

    background: #fff3f3;
    }


/**
* is not a breaker and doesn't kill the export
*/
.breaker_false {

}

/**
* this sample is included in the export
*/
.export_true {

}

/**
 * this sample is excluded from the export
 */
.export_false {
    color: #cccccc;

}