.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-button {
    width: 130px;
    float: left;
    overflow: hidden;
    padding: 0.4em 1em;
    float: left;
background: transparent url(../images/16x16/upload.gif) 5px 50% no-repeat !important;
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    background: #FF9797;
    text-align: center;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}

.qq-upload-drop-area-active {
    background: #FF7171;
}

.qq-upload-list {

    float: left;
    margin-left: 20px;
    margin-top: 3px;
    padding: 0;
    list-style: disc;
}

.qq-upload-list li {

    margin-left: 20px;
    margin-top: 5px;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {
}

.qq-upload-spinner {
    display: inline-block;
    background: url("../images/loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size, .qq-upload-cancel {
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}