/**
* all our actions
*/
ul.actions {
    font: 12px verdana, arial, helvetica, sans-serif;

    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.actions li.new_studie {
    background: transparent url("../images/studie/16x16/studie.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}

ul.actions li.merge_studie {
    background: transparent url("../images/16x16/merge.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}
ul.actions li.list_studies {
    background: transparent url("../images/studie/16x16/list.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}
ul.actions li.list_organs {
    background: transparent url("../images/studie/16x16/list.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}


ul.actions li.list_designs {
    background: transparent url("../images/studie/16x16/list.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}

ul.actions li.list_import_studie {
    background: transparent url("../images/studie/16x16/import.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;

}

ul.actions li.search {
    background: transparent url("../images/16x16/search.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.reindex {
    background: transparent url("../images/16x16/reindex.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.backup {
    background: transparent url("../images/16x16/backup.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.config_user {
    background: transparent url("../images/16x16/users.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.loggedin_user {
    background: transparent url("../images/16x16/users2.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.schedule {
    background: transparent url("../images/studie/16x16/export.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.audit_log {
    background: transparent url("../images/16x16/audit.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.monitor_log {
    background: transparent url("../images/16x16/monitor.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.track_log {
    background: transparent url("../images/16x16/tracking.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.jboss {
    background: transparent url("../images/16x16/jboss.gif") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

ul.actions li.download {
    background: transparent url("../images/16x16/download.png") 5px 50% no-repeat;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}



/**
 * the header configuration for this menu
 */
.moduleheader {
    font: 15px verdana, arial, helvetica, sans-serif;
    color: #3e5266;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: #dfdede thin solid;
}