/* GENERAL */

.graph-container {
    box-sizing: border-box;
    width: 95%;
    height: 250px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: none;
    background: #fff;
}

.placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

/* LIST */

.list table {
    border-collapse: collapse;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

#pageBody {
    margin-left: 280px;
    margin-right: 20px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 10px;
}

.menuButton_large {
    font-size: larger;
    padding: 0 5px;
}

.menuButton_large a {
    color: #333;
    padding: 4px 6px;
}

.menuButton_large a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton_large a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton_large a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.required {
    background-image: url(../images/16x16/required-field.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 10px;
}

/* formating of the search field */
#searchView {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    overflow: hidden;

}

#searchView div {
    margin-bottom: 15px;

}

#searchView  div input[type="text"] {
    width: 400px;
    float: left;
}

#searchView  div input[type="submit"] {
    width: 180px;
    float: right;
}

/*
* just set a margin between and element and the parent
*/
.button-margin-top {
    float: left;
    margin-top: 10px;
}

.button-margin-left {
    float: left;
    margin-left: 20px;
}

.button-margin-right {
    float: left;
    margin-right: 20px;
}

.button-margin-bottom {
    float: left;
    margin-bottom: 10px;
}

html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */

}

/**
* general body properties
*/
body {
    background: #FFF;
    color: #333;
    font: 14px verdana, arial, helvetica, sans-serif;

    padding: 0 0 0 0;
    margin: 0 0 0 0;

    width: 100%;
    height: 100%;
    float: left;

    min-height: 768px;
    min-width: 1024px;

}

/**
* logo settings
*/
#logo {
    margin-bottom: 1%;

    margin-top: 1%;
    padding: 15px;
    border-bottom: #d5d4d4 thin solid;
    background: #ffffff url(../images/background/YDCA_GrayGradientBackground3.png) repeat-x;
}

#logo .begin {
    font-size: x-large;
}

#logo .end {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: larger;
}

/**
* basic design forthe home layout page
*/
.design {
    float: left;

    min-height: 100%;

    height: 100%;

    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    border: none;
}

/**
 * things which should be on the left
 */
.left {
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 0px;

    min-height: 100%;

}

/**
 * things which should be on the left
 */
.left-even {
    float: left;
    width: 47%;
    padding-top: 20px;
    padding-bottom: 0px;

    min-height: 100%;

}

.left-thrirty {
    float: left;
    width: 29%;
    padding-top: 20px;
    padding-bottom: 0px;

    min-height: 100%;

}

.right-seventy {
    float: right;
    width: 66%;
    padding-top: 20px;

    margin-left: auto;
    margin-right: auto;

    min-height: 100%;

}

/**
 * required for a 2 column layout
 */
.right-even {
    float: right;
    width: 47%;
    margin-left: auto;
    margin-right: auto;

    min-height: 100%;

}

.left-side-border {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-right: none;
    border-left: #d5d4d4 thin solid;
    height: 100%;

    min-height: 100%;

}

/**
* things which should be located in the center  in a 3
column layout
*/
.center {
    float: left;
    width: 55%;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-right: #d5d4d4 thin solid;
    border-left: #d5d4d4 thin solid;
    height: 100%;

    min-height: 100%;

}

.line {
    border-bottom: #d5d4d4 thin solid;
    line-height: 2px;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.center-full-page {
    float: left;
    width: 97%;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    border: none;
}

/**
 * required for a 2 column layout
 */
.left-center-column {
    float: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-right: none;
    border-left: #d5d4d4 thin solid;
    height: 100%;

    min-height: 100%;

}

/**
* required for a 2 column layout
*/
.left-center-column-no-border {
    float: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    border: none;

    min-height: 100%;

    height: 100%;
}

/**
* things which should be located on the right
*/
.right {
    float: right;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;

    min-height: 100%;

}

/**
* things which should be located on the right
*/
.simple-right-to-left-column {
    float: right;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: #d5d4d4 thin solid;
    overflow: hidden;
    height: 100%;

}

/**
* our welcome message
*/
.welcome {
    float: left;
    width: 100%;

    border-bottom: #d5d4d4 thin solid;

}

/**
* our welcome message
*/
.welcome-no-border {
    float: left;
    width: 100%;

    border: none;

}

.element {

    float: left;
    width: 98%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;

    overflow: hidden;
    /*
border: yellow solid thin;
    */
}

.main {
    float: left;
    width: 100%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    font: 15px verdana, arial, helvetica, sans-serif;
    color: #3e5266;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: #dfdede thin solid;

}

.sub-header {
    font: 15px verdana, arial, helvetica, sans-serif;
    color: #3e5266;
    margin-top: 0px;
    margin-bottom: 10px;

}

.mediumHeader {
    font: 12px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}

.description {
    margin: 5px 0 5px 0;
}

.description input[type="checkbox"] {
    margin: 5px 0 5px 10px;
}

.description select, .description input[type="text"] {
    width: 100%;
}

/**
* needed for firefox sometimes
if we don't specify it the jquery event handling makes tables jump...
*/
.void {
    float: left;
    width: 100%;
}

.topSpacer {
    padding-top: 15px;
    padding-bottom: 5px;
}

/**
 * value of a property
 */
.property-value {
    float: right;
    width: 60%;
    padding-bottom: 5px;
}

.property-value input, .property-value select {
    width: 100%;

    padding-bottom: 5px;
}
.property-value label {
    width: 90%;

    padding-bottom: 5px;
}


/**
* titel of a property
*/
.property-title {
    float: left;
    width: 30%;

    padding-bottom: 5px;
}

.property-title input[type="checkbox"] {
    float: left;
    width: 5%;

    padding-bottom: 5px;
}

.button_right {
    clear: both;
    width: 200px;
    float: right;
}

a {
    font-size: 12px;
}

ul.none-vertical {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

ol.none-vertical {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

ul.none-vertical li {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.none-horizontal {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

ul.none-horizontal li {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    display: inline;

}

/**
* basic descriptive text
*/
div.textDescription {
    float: left;
    width: 100%;

    margin-bottom: 15px;
    margin-top: 15px;
}

span.textDescription {
    float: left;
    width: 66%;
    font: 13px verdana, arial, helvetica, sans-serif;

}

/**
 * used to display some basic informations
 */
.left_information_box {
    padding-top: 10px;
    padding-right: 10px;
    font: 12px verdana, arial, helvetica, sans-serif;
}

.padding-link {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

span .yes {
    background: url("../images/16x16/yes.png") 50% no-repeat;
    text-indent: -1999px;
    height: 16px;
    width: 16px;
    display: block;

    overflow: hidden;
}

span .no {
    background: url("../images/16x16/no.png") 50% no-repeat;
    text-indent: -1999px;
    height: 16px;
    width: 16px;
    display: block;

    overflow: hidden;

}

.content-box {
    border: 1px solid #ddd;
    margin: 25px;
}

.content-box .content-header {
    font-size: large;
    float: left;
    padding: 0 5px;
    margin: -15px 0 0 15px;
    background: #fff;
    font-style: italic;
}

.content-box .content-inner-content {
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
}

/**
 * a text input filed
 */
div.textField {
    float: left;
    width: 66%;
    min-width: 66%;

    overflow: hidden;
}

div.textField input, div.textField select {
    float: left;
    width: 99%;
}

/**
 * centers a box in the middle
 */
.centerBox {
    margin: 0 auto 0 auto;
}

.standardWidth {
    width: 100%;
}

.step-dialog {
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
}

.hideText {
    display: none;
    text-indent: -9999em;
}

.noBorder {
    border: 0 none !important;
}

/* TABLES */

table {
    border: #d5d4d4 thin solid;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-collapse: collapse;
}

tr {
    border: 0;
}

td, th {
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

th {
    background: #ecebeb;
    color: #403f3f;
    font-size: 12px;
    font-weight: lighter;
    line-height: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: #d5d4d4 thin solid;
    white-space: nowrap;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #fff;
}

/* PAGINATION */

.paginateButtons {

    background: #ecebeb;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding-top: 20px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

.version_row {
    text-align: right;

}

/**
format the treatment tables table so they looks nicer
*/
#definedTreatments tbody tr td, .defineSubTreatment table tbody tr td, #classesToGenerate tbody tr td, .contentTable tbody tr td {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

#definedTreatments tbody tr td div input, .defineSubTreatment table tbody tr td input, #classesToGenerate tbody tr td input[type="text"], .contentTable tbody tr td input, .contentTable tbody tr td select {
    height: 30px;
    overflow-x: hidden;
    width: 95%;
}

#definedTreatments tbody tr td div input.sub {
    height: 30px;
    overflow-x: hidden;
    width: auto;
    float: right;
}

/* MESSAGES AND ERRORS */

.message {

    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;

    clear: both;
    overflow: hidden;
    margin: 15px 0 15px 0;
    height: auto;
    text-align: center;
    padding: 15px;
}

.quicklink {

    background: rgba(255, 122, 0, 0.15) url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid rgba(255, 122, 0, 0.50);
    color: rgba(48, 48, 48, 0.86);

    clear: both;
    overflow: hidden;
    margin: 15px 20px 15px 20px;
    height: auto;
    text-align: center;
    padding: 10px;
}

div.exceptions {
    float: left;

    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;

    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: left;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;

    clear: both;
    overflow: hidden;
    margin: 15px 0 15px 0;
    height: auto;
    text-align: center;
    padding: 15px;
}

div.errors ul {
    list-style: none;
    padding: 5px 5px 5px 5px;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding: 15px
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

span.errors {
    border: 1px solid red;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.stack {
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
    height: 300px;
}

.snippet {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 3px;
    font-family: courier;
}

/* ACTION BUTTONS */

/*
* basic style of all buttons
*/

input[type="button"], input[type="submit"] {
    float: left;
    border: 1px solid #ccc;
    color: #666;
    overflow: hidden;
    margin: 0 0 0 0;
    min-width: 80px;
}

/**
 * focussing of input elemetns
 */
input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/**
 * hovering of input elemetns
 */
input:hover, select:hover, textarea:hover {
    border: 1px solid #b2d1ff;
}

input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.next {
    background: transparent url(../images/buttons/arrowshapes.striped-right-arrow.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.query {
    background: transparent url(../images/buttons/arrowshapes.striped-right-arrow.png) 5px 50% no-repeat !important;
    padding-left: 35px;
}

input.add {
    background: transparent url(../images/buttons/list-add-3.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.remove {
    background: transparent url(../images/16x16/delete.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.check {
    background: transparent url(../images/buttons/checkbox-2.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.generate {
    background: transparent url(../images/buttons/text-x-generic.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input.showDetails {
    background: transparent url(../images/16x16/view-details.png) 5px 50% no-repeat !important;
    padding-left: 28px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;

    font: 12px verdana, arial, helvetica, sans-serif;
}

textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

.textarea-full {
    width: 100%;
    height: 150px;
    vertical-align: top;

}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

a.remove {
    background: transparent url(../images/16x16/delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.edit {
    background: transparent url(../images/16x16/edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.copy {
    background: transparent url(../images/16x16/copy.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.showDetails {
    background: transparent url(../images/16x16/view-details.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.list {
    background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.add {
    background: transparent url(../images/buttons/list-add-3.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.schedule {
    background: transparent url(../images/studie/16x16/export.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.displayClasses {
    background: transparent url(../images/16x16/hirachy.gif) 5px 50% no-repeat;
    padding-left: 28px;
}

a.displayResults {
    background: transparent url(../images/16x16/results.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.paste {
    background: transparent url(../images/buttons/paste.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.download {
    background: transparent url(../images/16x16/download.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.downloadFile {
    background: transparent url(../images/16x16/download.png) 5px 50% no-repeat;
    padding-left: 28px;
}

a.new_studie {
    background: transparent url("../images/studie/16x16/studie.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.exportData {
    background: transparent url("../images/16x16/excel.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.exportDataXls {
    background: transparent url("../images/16x16/excel.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.exportDataXml {
    background: transparent url("../images/16x16/export_xml.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.exportDataDsl {
    background: transparent url("../images/16x16/DSL_Icon.gif") 5px 50% no-repeat;
    padding-left: 28px;

}

a.refresh {
    background: transparent url("../images/16x16/refresh.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.listUsers {
    background: transparent url("../images/16x16/users.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.loggedInUsers {
    background: transparent url("../images/16x16/users2.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.lock {
    background: transparent url("../images/16x16/lock.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.unlock {
    background: transparent url("../images/16x16/unlock.png") 5px 50% no-repeat;
    padding-left: 28px;

}

a.bug {
    background: transparent url("../images/16x16/bug.png") 5px 50% no-repeat;
    padding-left: 28px;

}

/**
 * an add button
 */
.addButton {
    float: right;
    width: 30%;
    text-align: left;
}

input.readonly {
    background: #C7C7C7;
}

.filter {
    background: transparent url("../images/16x16/filter.png") 5px 50% no-repeat;
    padding-left: 28px;

    margin: 0 0 5px 0;
    width: 100%;
}

input .shrink_to_fit {
    width: auto;
}

.checkboxes {
    float: left;
}

.checkboxes label {
    padding-right: 10px;
    display: block;
    float: left;
    white-space: nowrap;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {

    vertical-align: middle;
}

/* NAVIGATION MENU */

.nav {

    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    margin-left: 0;
    margin-right: 0;

    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    width: 100%;

}

.menuButton {
    float: left;
    font-size: 10px;
    margin-left: 2%;
    margin-right: 0;
    color: #333;

}

.menuButton-right {
    font-size: 10px;
    color: #333;
    margin-left: 0;
    margin-right: 2%;

    padding-top: 8px;
    padding-bottom: 8px;
    float: inherit;

}

.menuButton a.home {
    background: url(../images/16x16/home.png) 5px 50% no-repeat;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: inherit;

}

.menuButton a.search {
    background: url(../images/16x16/search.png) 5px 50% no-repeat;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: inherit;

}

.menuButton a.list {
    background: url(../images/skin/database_table.png) 5px 50% no-repeat;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: inherit;

}

.menuButton a.logout {
    background: url(../images/16x16/logout.png) 5px 50% no-repeat;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: inherit;

}

.menuButton a.bug {
    background: url(../images/16x16/bug.png) 5px 50% no-repeat;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: inherit;

}

.nav .user {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 25px;
    float: right;
    margin-right: 2%;

}