ul.retention-form{
    width: 100%;
    margin: 0 0 0 0;
    padding: 20px 0 20px 0;
    list-style: none;
    list-style-type: none;
}


.centered-full {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

ul.retention-form li{
    float:left;
    display: inline;
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
    list-style-type: none;
}

ul.retention-form li label{
    display: block;
    float: left;
    width: 125px;
    padding: 0 0 0 0;
}

ul.retention-form li input{
    display: block;
    float: left;
    width: 200px;
    padding: 0 0 0 0;
}

ul.retention-form li select{
    display: block;
    float: left;
    width: 200px;
    padding: 0 0 0 0;
}




