/**
 * all scaffolding related css properties are in this file
 */

.scaffoldingProperties {
    float: left;
    width: 100%;

}

.scaffoldingPropertyLabel {
    clear: both;
    float: left;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;


}

.scaffoldingPropertyValue {

    float: left;
    padding-top: 5px;
    padding-bottom: 5px;

}

.scaffoldingList {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.scaffoldingItem {
    padding-left: 0;
    padding-bottom: 3px;
    padding-top: 3px;

}
