.studie-left, .architecture-left {

    float: left;

    width: 30%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    min-height: 150px;

}

.studie-right, architecture-right {

    float: right;
    width: 69%;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;

    min-height: 150px;

}

.studie-arccodion-right {

    float: right;
    width: 69%;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;

    height: 60%;
}

.studie-bottom {

    float: left;
    width: 100%;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/**
 * defiens the size of the arrcodion
 */
.classesData, .userData, .attachmentData {
    max-height: 600px;
}

.commentText {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
