/**
* renders and groups the class boxes
*/
.classProperties {

    display: block;
    overflow: hidden;

    margin: 15px 5px 5px 5px;

}

.classProperties .textDescription {

    font: 14px verdana, arial, helvetica, sans-serif;

    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 0;
}

.classResult {
    margin-top: 25px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 1%;
    margin-right: 1%;

}

.correction_failed {
    color: red;
}

.classProperties .metaData {

    margin: 10px 5px 5px 5px;
}

.classProperties .classData {

    margin: 15px 5px 15px 5px;
}

.version_select {
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 40px !important;
}

.fileName-row {
    width: 20%;
    white-space: nowrap;

}

.comment-row {
    width: 40%;
    white-space: nowrap;

}

.label-row {
    width: 40%;
    white-space: nowrap;

}

.datafiles-row {
    width: 100px;
}