
.step-dialog * input[type="button"] {
    float: right;
}

table {
    clear: both;
    width: 100%;
}

/**
* renders and groups a species and an organ
*/
.speciesOrgans {
    overflow: hidden;
    padding: 15px 15px 15px 15px;
}
div .fillField .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 30%;
}

/**
 * styling for the step monitor
 */
ul.monitor {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}

ul li.current {
    background: transparent url("../images/step/current.png") left center no-repeat;
    padding-left: 32px;
    padding-top: 3px;
    margin-top: 6px;

}

ul li.done {
    background: transparent url("../images/step/current.png") left center no-repeat;
    padding-left: 32px;
    padding-top: 3px;
    margin-top: 6px;

}

ul li.previous {
    background: transparent url("../images/step/previous.png") left center no-repeat;
    padding-left: 32px;
    padding-top: 6px;
    color: #575656;
    margin-top: 6px;

}

ul li.previous_locked {
    background: transparent url("../images/step/previous_locked.png") left center no-repeat;
    padding-left: 32px;
    padding-top: 6px;
    color: #575656;
    margin-top: 6px;

}

ul li.next {
    padding-left: 32px;
    padding-top: 3px;
    color: #999999;
    margin-top: 6px;

}

div.monitor {
    padding-bottom: 15px;
    padding-top: 15px;
}

.monitorHeader {
    font: 14px verdana, arial, helvetica, sans-serif;
}

div .id {
    vertical-align: middle;

}

/**
 * renders the sample dialog
 */
.generateSampleDialog {

    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.defineSubTreatment .stepTitle {
    margin-top: 20px;

}

.defineSubTreatment {
    padding-top: 20px;
}

/**
* things which should be located in the center
*/
.center {
    float: left;
    width: 70%;

    border-right: none;
}
