/**
 * styling of the contributor page
 */
.person {
    float: left;
    width: 96%;
    margin: 2% 2% 2% 2%;
    padding: 0 0 0 0;
}

.person .picture {
    float: left;
    width: 30%;
}
.person .picture img{
    float:right;
    margin-right: 20px;
}

.person .content {
    float: right;
    width: 70%;
}